*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: "outfit";
}

.navigation{
    display: grid;
    grid-template-columns: 20% 80% auto;
    align-items: center;
    padding: 0 5%;
    height: 90px;
}

.navigation img{
    height: 30px ;
}

.navigation ul{
    display: flex;
    list-style: none;
    column-gap: 5%;
    align-items: center;
    justify-content: end;
}

.navigation a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.navigation ul :nth-child(6){
    border: 3px solid #DF862E;
    padding: 10px 20px;
    border-radius: 20px;
}

.contact{
    display: none;
}

.hero{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 5% 10%;
}

.left-hero{
    color: white;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.left-hero h1{
    font-size: 48px;
}
.left-hero h1 span{
    font-size: 48px;
    color: #DF862E;
    font-weight: 500;
}

.left-hero h3{
    font-size: 32px;
    font-weight: 400;
}

.left-hero p{
    font-size: 16px;
    font-weight: 200;
}

.left-hero button{
    width: fit-content;
    padding: 14px 32px ;
    border-radius: 36px;
    background-color: #DF862E;
    border: none;
    color: white;
    font-size: 15px;
    margin-top: 10px;
}
.aboutme{
    background-color:#0F0F15 ;
    width: 100%;
    height: fit-content;
    padding: 2% 5% 2% 5%;
    display: grid;
    grid-template-columns: 35% 75%;
    column-gap: 10px;

}

.aboutme-left-side{
    width: 40%;
    padding: 20% 0;
}

.aboutme-blackbackground{
    height: 470px;
    width: 365px;
    background-color: #00000075;
    border-radius: 24px;
}

.about-me-image{
    height: 340px;
    width: 340px;
    background-image: url(images/myself-02.jpg);
    position: absolute;
    transform: translate(20%, 20%);
    border-radius: 24px;
    background-size: 100% auto;
    background-position:50% 20% ; 
}

.about-me-image img{
    height: 300px;
}

.aboutme-rightside{
    width: auto;
    height: auto;
}

.aboutme-heading h1{
    position: absolute;
}
.aboutme-heading1{
    font-size: 10vw;
    color: transparent;
    -webkit-text-stroke: 1px#DF862E;
    position: relative;
}
.aboutme-heading2{
    position: absolute;
    font-size: 4vw;
    color: white;
    transform: translate(110%, 140%);
}

.aboutme-details{
    color: white;
    margin-top: 25%;
}

.aboutme-details h1{
    font-size:2vw ;
    font-weight: medium;
}

.aboutme-details h4{
    font-size:.8vw ;
    font-weight: medium;
    color:#ffffff70 ;
}
.aboutme-details p{
    font-size:.8vw ;
    font-weight: medium;
    color:#ffffff70 ;
    margin-top: 20px;
    /* width: 20%; */

}

.progress, h1,h2{
    color: white;
    margin-top: 20px;
}

.progress{
    display: grid;
    grid-template-columns: auto auto auto;
}

.progress, h1{
    grid-column: 1/4;
}

.html{
    height: 5px;
    width: 400px;
    background-color: #ffffff;
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
}
.html1{
    height: 5px;
    width: 90%;
    background-color: #DF862E;
    position: absolute;
    border-radius: 10px;
}

.CSS{
    width:  80%;
}
.PHP{
    width:  70%;
}